* {
    margin: 0;
    padding: 0;
    
}
body {

   margin: 10px 10px 10px 10px;
   height: 100%;
   display: flex;
   flex-direction: column;
gap: 10px;
}

nav {
    background-color: gray;
    height: 20vh;
    
}
.layout1{
    display: flex;
    height: 39vh;
    gap: 10px;
    
}
.teste {
    background-color: palevioletred;
    flex: 2;
        }
.teste1 {
    background-color: blue;
    flex: 2;
    
      
}