*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    height: 150px;
    background-color: aquamarine;
    margin: 10px;
}

aside{
    height: 250px;
    margin: 10px;
    width: 70vw;
    background-color: crimson;
    display: inline-block;
}

main{
    margin: 10px;
    height: 150px;
    width: 22vw;
    background-color: gray;
    display: inline-block;
}

.espacamento{
    text-align: center;
}