*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: gray;
    margin: 10px;
}
aside{
    margin: 10px;
    height:150px;
    width: 85vw;
    background-color: crimson;
}

.quadrado{
    margin: 4px;
    height: 51%;
    width: 42.1vw;
    display: inline-block;
    background-color: aquamarine;
    align-items: end;
}
.tst{
    display: flex;
}

.outro{ /* vem do header */
    height: 360px;
    width: 25%; 
    align-items: end;
} 
