*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    height: 20%;
    background-color: gray;
    /* margin: 10px; */
}

.principal{
    display: flex;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.cards {
    display: flex;
    flex-direction: row;
}

aside{
    /* margin: 10px;
    height:150px;
    width: 85vw; */
    background-color: crimson;
}

.quadrado{
    /* margin: 4px;
    height: 51%;
    width: 42.1vw; */
   
    background-color: aquamarine;
    align-items: end;
}

.outro{ /* vem do header */
    
width:
} 
