* {
    margin: 0;
    padding: 0;
    
}
body {

   margin: 10px 10px 10px 10px;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

nav {
    background-color: palevioletred;
    height: 20vh;
    
}
.menu {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
.menu1{
gap: 10px;
width: 25%;
height: 70vh;
}
.artigo1{
    background-color: blue;
    height: 35vh;
    margin-bottom: 10px;
}
.artigo2{
    background-color: orange;
    height: 39vh;
    
}
.artigo3{
    background-color: orange;
    height: 25vh;
    border: 1px solid red;
    margin-bottom: 10px;
}
.artigo4{
    background-color: green;
    
    height: 48vh;
    
    
    
}
.menu2 {
    background-color: brown;
    width: 55%;
    height: 75vh;
    gap: 10px;
    
}
.menu3 {
    
    width: 25%;
    gap: 10px;
}
