* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    background-color: #f6f6f6;
  }

  .header-nav
  {
    display: flex;
    width: 100vw;
    height: 25vh;
    background-image: url(/assets/Design\ sem\ nome.png);
    font-family: "Roboto", sans-serif;
    top: 0; 
    left: 0; 
    z-index: 1000; 
  }

  .header-nav a {
    align-items: center;
    width: 40vw;
    height: 15vh;

    color: white;
    font-size: 20px;
    padding: 35px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }

  .header-nav span {
    text-align: center;
    align-items: flex-start;
    width: 60vw;
    height: 20vh;
    font-size: 40px;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }

  body{
    background: white;
  }

  main{
    background-color: white;
  }
  main .page-title{
    font-size: 35px;
    padding: 50px 0;
    text-align: center;
  }
  main .content{
    display: flex;
    padding: 0 30px 0 30px;
  }
  section{
    flex: 1;
  }
  aside{
    background-color: aqua;
    min-width: 25;
  }


table{
  width: 100%;
  border-collapse: collapse;
}
thead{
  border-bottom: 3px solid #ccc;
  tr{
    th{
      text-align: left;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #666;
    }
  }
}

tbody{
  tr{
    border-bottom: 3px solid #eee;
    &:last-child{
      border:0;
    }
    td{
      padding: 25px;
    }
  }
}


.product{
  display: block;
}
.nome{
  font-size: 20px;
  margin-bottom: 10px;
}
.categoria{
  color: #666;
}

