* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    background-color: #f6f6f6;
  }

  header{
    background-color: rgb(0, 60, 172);
    color: white;
    font-size: 24px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  body{
    background: white;
  }

  main{
    background-color: white;
  }
  main .page-title{
    font-size: 35px;
    padding: 50px 0;
    text-align: center;
  }
  main .content{
    display: flex;
    padding: 0 30px 0 30px;
  }
  section{
    flex: 1;
  }
  aside{
    color:white;
    background-color: rgb(0, 60, 172);
    min-width: 25;
  }


table{
  width: 100%;
  border-collapse: collapse;
}
thead{
  border-bottom: 3px solid #ccc;
  tr{
    th{
      text-align: left;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #666;
    }
  }
}

tbody{
  tr{
    border-bottom: 3px solid #eee;
    &:last-child{
      border:0;
    }
    td{
      padding: 25px;
    }
  }
}

img{
  height: 50%;
  width: 40%;
}
.product{
  display: block;
}
.nome{
  font-size: 20px;
  margin-bottom: 10px;
}
.categoria{
  color: #666;
}

