* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul1: #25aae1;
    --azul2: #0b5489;
    --azul3: #0c619d;
    --branco: #ffffff;
    --hCard: 340px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/fundologin.jpg");
}

#formulario {
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(204, 204, 204, 0.5);
    border: solid 2px;
    border-color: var(--azul2);
    border-radius: 30px;
}

.logoLogin {
    height: auto;
    width: 320px;
}

.formAction {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 350px;
}

.sec-name,
.sec-senha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

input {
    font-size: large;
    width: 200px;
    border-radius: 5px;
    background-color: var(--azul1);
    padding-left: 10px;
    /* margin-left: 10px; */
    border: 0;
}

label {
    font-weight: 700;
    color: #000000;
    font-size: 30px;
}

#voltar {
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#entrar {
    display: block;
    margin: auto;
    background-image: url("/assets/botaoEntrar.png");
    background-size: cover;
    background-position: center;
    border: 0;
    border-radius: 10px;
    width: 175px;
    height: 55px;
}

#entrar:hover {
    transform: scale(0.95);
}


#entrar:disabled {
    opacity: 0.4;
    cursor: wait;
}